.heading {
  text-align: center;
  padding: 60px;
}

.heading h1 {
  font-size: large;
  font-weight: 700;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}

/* ====responsive part start==== */
@media only screen and (max-width: 688px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading h1 {
    font-size: small;
  }
}

@media only screen and (min-width: 689) and (max-width: 991px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
