.product {
  height: 400px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.product img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

.product_btn {
  position: absolute;
  bottom: 10px;
  left: 37%;
}

/* ====responsive part start==== */
@media only screen and (max-width: 688px) {
  .product img {
    height: 200px;
    width: 280px;
    border-radius: 5px;
  }
}
